:root {
  /* Colours */
  --color-bg: #aac9b9; /* page background /*

  /* Header */
  --color-head-bg: #305065;

  /* Logotype */
  --color-logotype-bg: #000;
  --color-text-logotype: #fffae2;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #a7c1e2;
  /* Links */
  --color-link-bg: #fffae2;
  --color-link-hover: #fffae2; /* used */
  --color-link-active: #fffae2; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #000;
  --color-headline-text-page: #fffae2;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #fffae2;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 20px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #5e929f;
  /* news-cards */
  --color-news-bg: #fffae2;
  --color-news-bg-inverted: #dbe2f5;
  --color-cta-newscard-bg: #b1ae77;
  --color-cta-newscard-bg-inverted: #a7c1e2;

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 2rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #5e929f;
  --color-infobox-2-bg: #e1eabb;
}
